# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# pytest cache
.pytest_cache/

# Editor directories
.vscode/
.idea/

# Playwright artifacts
playwright-report/

# test reports
report-*.html

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log
